<div class="container">

    <div class="jumbotron text-center logo">
        <img class="logo" src="/images/logo.png" alt="Салон штор Модерн" />
    </div>
    <div class="row">
        <div class="col-sm">
            <h5 align="center">Веб-сайт салона штор "Модерн"</h5>
            У нас вы можете оформить Ваше окно от начала до конца.<br />
            В нашем магазине Вы найдете:
            <ul>
                <li>тюль и шторы;</li>
                <li>ролеты и римские шторы;</li>
                <li>карнизы;</li>
            </ul>
            и многое другое!<br/>
            Следите за обновлениями интересных Вам товаров при помощи нашего <a href="https://t.me/modern_curtains_ua_bot">Telegram-бота</a>!<br/>
            Наше <a href="https://modern-curtains.herokuapp.com/developer/v1">API</a>.
        </div>
        <div class="col-md-auto">
            <img src="/images/home.jpg" class="img-thumbnail" alt="Фото штор" />
        </div>
    </div>
</div>