<div ng-controller="productController">
    <div class="container">
        <div class="row">
            <div class="col-sm-auto">
                <img class="profimg img-thumbnail" src="{{product.prodpic}}" alt="{{product.prodname}}" />
            </div>
            <div class="col">
                <div class="btn-group" ng-if="user.role == 'admin'" id="control" role="group">
                    <button type="button" id="edit" data-toggle="modal" data-target="#editModal"
                        class="btn btn-success btn-sm my-2">Редактировать</button>
                    <button type="button" id="delete" data-toggle="modal" data-target="#deleteModal"
                        class="btn btn-danger btn-sm my-2">Удалить</button>
                </div>
                <p class="text">
                    <h3>{{product.prodname}}</h3>
                    <b>Категория: </b><a href="#!category/{{product.category._id}}">{{product.category.name}}</a><br />
                    <b>В наличии: </b><span ng-if="product.inStock">да</span><span
                        ng-if="!product.inStock">нет</span><br />
                    <button class="btn btn-outline-success btn-lg" id="search" type="button"
                        ng-click="addToCart(product)"><i class="material-icons align-top">shopping_cart</i><span
                            class="align-top">
                            {{product.price}}
                            грн</span></button>
                </p>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <b class="text">Описание:</b>
                <textarea class="form-control" readonly>
                    {{product.desc}}
                </textarea>
            </div>
        </div>
        <div class="input-group">
            <input type="text" name="newcomment" class="form-control" ng-model="newcomment"
                placeholder="Оставте отзыв о товаре">
            <div class="input-group-append">
                <button class="btn btn-primary" ng-click="postComment()" type="submit">Опубликовать отзыв</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table mt-2">
                    <tbody ng-repeat="comment in comments">
                        <tr>
                            <td>
                                <b>Автор: </b><a href="#!user/{{comment.author._id}}">{{comment.author.fullname}}</a>  | 
                                <button type="button" ng-click="remove(comment._id)"
                                    class="btn btn-danger btn-sm my-2">Удалить</button>
                                <textarea class="form-control" readonly>{{comment.content}}</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav ng-show="pages > 0">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" id="prev" ng-show="page > 1" ng-click="prev()">
                            <span class="page-link cursor-pointer" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </span>
                        </li>
                        <li class="page-item disabled"><a id="pageNum" class="page-link" href="#">{{page}} из
                                {{pages}}</a></li>
                        <li class="page-item" id="next" ng-show="page < pages" ng-click="next()">
                            <span class="page-link cursor-pointer" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="toast toast-custom" id="purchaseNotification" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-grav"></i>{{lastPurchase}} added to cart</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div>Proceed to your <a href="#!me">profile</a> to complete purchase</div>
        </div>
    </div>
    <!-- modals -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" id="editModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="form" ng-submit="form.$valid && update()" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="prodname">Наименование</label>
                            <input type="text" class="form-control"
                                ng-class="{ 'has-error': form.$submitted && form.prodname.$invalid }" name="prodname"
                                ng-model="updProduct.prodname" id="prodname" placeholder="Наименование" required>
                            <div ng-show="form.$submitted && form.prodname.$error.required" class="help-block">
                                <small class="text-muted text-danger text-small">Product name is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Цена</label>
                            <input type="number" class="form-control"
                                ng-class="{ 'has-error': form.$submitted && form.price.$invalid }" min="0"
                                ng-model="updProduct.price" name="price" id="price" placeholder="Цена" required>
                            <div ng-show="form.$submitted && form.price.$error.required" class="help-block">
                                <small class="text-muted text-danger text-small">Price is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Описание</label>
                            <textarea class="form-control" ng-model="updProduct.desc" name="desc"
                                placeholder="Описание"></textarea>
                        </div>
                        <p class="text">Фото</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="prodpic" file-model="prodpic"
                                id="prodpic">
                            <label class="custom-file-label" id="chosenPhoto" for="prodpic">{{fakepath}}</label>
                        </div>
                        <div class="form-check form-check-inline mt-3">
                            <input class="form-check-input" type="checkbox" ng-model="updProduct.inStock"
                                ng-true-value="true" ng-false-value="false" id="inStock" name="inStock">
                            <label class="form-check-label" for="inStock">В наличии</label>
                        </div>
                        <div ng-if="createErr" class="alert alert-danger">{{createErr}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                        <button type="submit" id="confirmCreate" class="btn btn-success">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModal" id="deleteModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтвердите удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text">Вы уверены?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
                    <button type="button" id="confirmDelete" ng-click="delete()" class="btn btn-success">Да</button>
                </div>
            </div>
        </div>
    </div>
</div>