<div ng-controller='userController'>
  <div class="container">
    <div class="row">
      <div class="col-sm-auto">
        <img class="img-thumbnail mb-3 profimg" src="{{currUser.avaUrl}}" alt="Фото профиля" />
      </div>
      <div class="col">
        <button type="button" id="promote" ng-show="user._id != id && currUser.role != 'admin'"
          ng-click="changeRole('admin')" class="btn btn-primary btn-sm my-2">Дать права администратора</button>
        <button type="button" id="demote" ng-show="user._id != id && currUser.role == 'admin'"
          ng-click="changeRole('standart')" class="btn btn-primary btn-sm my-2">Забрать права администратора</button>
        <p class="text">
          <b>Логин: </b>{{currUser.login}}<br />
          <b>Имя: </b>{{currUser.fullname}}<br />
          <b>Роль: </b>{{currUser.role}}<br />
          <b>Дата регистрации: </b>{{currUser.registeredAt}}<br />
          <b class="text">О себе:</b>
          <textarea class="form-control" readonly>
            {{currUser.bio}}
          </textarea>
        </p>
      </div>
    </div>
  </div>
</div>