<div ng-controller="productsController">
    <form class="form mb-3" id="searchForm" name="searchForm">
        <h3>Каталог:</h3>
        <div class="input-group">
            <input type="text" name="searchword" class="form-control" ng-model="searchinput" placeholder="Поиск"
                aria-label="Поиск" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" id="search" ng-click="setPage(1)" type="submit">Найти</button>
            </div>
        </div>
        <div class="form-group form-check m-2 cursor-pointer">
            <input type="checkbox" class="form-check-input" ng-model="inDesc" ng-true-value="true"
                ng-false-value="false" name="inDesc" id="inDesc">
            <label class="form-check-label" for="inDesc">Искать в описании</label>
        </div>
        <span ng-if="searchword" class="form-text text-muted">Результаты поиска для: '{{searchword}}'. Найдено:
            {{totalItems}}.</span>
        <div class="alert alert-danger" ng-if="totalItems == 0">Ничего не найдено.</div>
    </form>
    <div class="table-responsive">
        <table class="table" id="productList" ng-show="pages > 0">
            <tbody ng-repeat="product in products">
                <tr>
                    <td class="fit block"><img class="img-thumbnail img-fluid imglist " src="{{product.prodpic}}"" alt="
                            {{product.prodname}}" /></td>
                    <td class="block"><a href="#!product/{{product._id}}">
                            <h3>{{product.prodname}}</h3>
                        </a>
                        <div class="input-group">
                            <button class="btn btn-outline-success btn-lg" id="search" type="button"
                                ng-click="addToCart(product)"><i class="material-icons align-top">shopping_cart</i><span
                                    class="align-top">
                                    {{product.price}}
                                    грн</span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="toast toast-custom m-3" id="purchaseNotification" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-grav"></i>{{lastPurchase}} добавлен в корзину</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div>Перейдите в <a href="#!me">профиль</a>, чтобы завершить покупку</div>
        </div>
    </div>
    <nav ng-show="pages > 0">
        <ul class="pagination justify-content-center">
            <li class="page-item" id="prev" ng-show="page > 1" ng-click="prev()">
                <span class="page-link cursor-pointer" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </span>
            </li>
            <li class="page-item disabled"><a id="pageNum" class="page-link" href="#">{{page}} из {{pages}}</a></li>
            <li class="page-item" id="next" ng-show="page < pages" ng-click="next()">
                <span class="page-link cursor-pointer" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </span>
            </li>
        </ul>
    </nav>

</div>