<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th colspan="2">Сведения о компании:</th>
            </tr>
        </thead>
        <tr>
            <td>Контактное лицо:</td>
            <td>Анастасия</td>
        </tr>
        <tr>
            <td>Номер телефона:</td>
            <td>+380960000000</td>
        </tr>
        <tr>
            <td>Адрес:</td>
            <td>Украина, Киев, переулок Ковальский, 5</td>
        </tr>
    </table>
</div>
<div class="table-responsive">
    </div>